<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eCommerce Suite Test">
  <parameter name="baseURL" value="https://magang.dikahadir.com/authentication/login"></parameter>
  <test name="Authentication Test" enabled="false">
    <classes>
      <class name="com.juaracoding.dikahadir.authentication.LogInTest"></class>
    </classes>
  </test>
  <test name="Management Test" enabled="true">
    <classes>
      <class name="com.juaracoding.dikahadir.management.ManagementPosisiTest"></class>
    </classes>
  </test>
</suite>