<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dikahadir Test">
  <parameter name="baseURL" value="https://magang.dikahadir.com/authentication/login"></parameter>
  <test name="Authentication Test" enabled="false">
    <classes>
      <class name="com.juaracoding.dikahadir.authentication.LogInTest"></class>
    </classes>
  </test>
  <test name="Management Test" enabled="false">
    <classes>
      <!-- <class name="com.juaracoding.dikahadir.management.ManagementPosisiTest"></class> -->
      <class name="com.juaracoding.dikahadir.runners.RunnerShifting"></class>
    </classes>
  </test>
  <test name="Laporan Tests" enabled="false">
    <classes>
      <!-- <class name="com.juaracoding.tajuaracoding.laporan.SemuaTest"/> -->
      <!-- <class name="com.juaracoding.tajuaracoding.laporan.KehadiranTest"/>
      <class name="com.juaracoding.tajuaracoding.laporan.IzinTerlambatTest"/>
      <class name="com.juaracoding.tajuaracoding.laporan.IzinPulangCepatTest"/> -->
    </classes>
  </test>
</suite>